:root{
--Pale-Violet: hsl(276, 100%, 81%);
--Moderate-Violet-: hsl(276, 55%, 52%);
--Desaturated-Dark-Violet-: hsl(271, 15%, 43%);
--Grayish-Blue: hsl(206, 6%, 79%);
--Very-Dark-Desaturated-Violet: hsl(271, 36%, 24%);
--Dark-Grayish-Violet: hsl(270, 7%, 64%);
--their-msg-bc: hsl(272, 46%, 93%);

/* Gradients */


--Light-Magenta: hsl(293, 100%, 63%);
--Light-Violet: hsl(264, 100%, 61%);

/* Secondary */

--White: hsl(0, 0%, 100%);
--Light-Grayish-Violet: hsl(270, 20%, 96%);
--Very-Dark-Desaturated-Violet: hsl(271, 36%, 24%);
--Very-Light-Magenta: hsl(289, 100%, 72%);
/* font-family */
--ff: 'Rubik', sans-serif;
/* font-weight */
--fw-regular: 400;
--fw-medium: 500;
--fw-bold: 700;
/* font-size */
--fs: 1rem;
}

/* CSS reset */
*, *::after, *::before{
  box-sizing: border-box;
}
*{
  margin: 0;
  padding: 0;
}
img, video, canvas, picture, svg{
  display: block;
  max-width: 100%;
}
button, textarea, select, input{
  font: inherit;
  display: block;
}
button{
  padding: 0;
  border: 0;
  background-color: inherit;
  cursor: pointer;
}
a{
  text-decoration: none;
}
p, h1, h2, h3, h4, h5, h6{
  overflow-wrap: break-word;
}
body{
  display: grid;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
  font-family: var(--ff);
  background-color: var(--Light-Grayish-Violet);
  overflow-x: hidden;
  place-items: center;
  min-height: 100vh;
}
@media (min-width: 1000px) {
  .page-content{
    display: flex;
    align-items: center;
    max-width: 820px;
    justify-self: center;
    align-self: center;
    gap: 7.625rem;
    margin-left: 5.65rem;
  }
  
}
.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
main{
  display: grid;
  gap: 0;
  padding: 0 2rem
}
@media (min-width: 1000px) {
  main{
    padding: 0;
  }
}
.head{
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  background: linear-gradient(to right, var(--Light-Violet), var(--Light-Magenta));
  padding: 1.5rem .8rem .5rem;
  position: relative;
}
.profile__picture{
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: 1px solid var(--Light-Grayish-Violet)
}
.profile{
  display: flex;
  align-items: center;
  gap: .5rem;
  margin-left: .3rem;

}
.button-0{
  justify-self: right;
}
.profile__h2{
  font-size: .6rem;
  color: var(--White);
  font-weight: var(--fw-bold);
}
.profile__p{
  font-size: .48rem;
  color: var(--Pale-Violet);
}
article{
  max-width: 250px;
  padding: .5rem;
  border-radius: 2rem;
  background-color: var(--White);
}
.mobile-display{
  border-radius: 2rem;
  overflow: hidden;
  background-color: var(--Light-Grayish-Violet);
}
.your-msg, .their-msg{
  font-size: .5rem;
  max-width: 8.5rem;
  padding: .3rem;
  margin-top: .5rem;
  
}
.your-msg{
  margin-right: .5rem; 
}
.your-msg-text{
  background-color: var(--White);
  color: var(--Desaturated-Dark-Violet-);
  justify-self: right;
  border-radius: .5rem .5rem 0 0.5rem;
}
.their-msg{
  background-color: var(--their-msg-bc);
  color: var(--Moderate-Violet-);
  border-radius: .5rem .5rem .5rem 0;
}
.dog{
  width: 2rem;
  height: 2rem;
  border-radius: .5rem;
}
figure{
  display: flex;
  gap: 1rem;
  justify-self: right;
  background-color: transparent;
}
.text{
  display: grid;
  padding: .7rem .5rem
}
#textarea{
  resize: none;
  height: 2rem;
  width: 100%;
  border: 0;
  background-color: transparent;
  outline: none;
  padding: inherit;
  font-size: .8rem;
  overflow: scroll;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  
}
textarea::placeholder{
  color: var(--Grayish-Blue)
}
#textarea:focus, #textarea:active{
  border: 0;
  
}
.text-field{
  align-items: center;
  padding: .5rem .8rem;
  display: flex;
  margin:  .3rem .5rem .5rem;
  background-color: var(--White);
  border-radius: 2rem;
}
.upload{
  background-color: var(--Very-Dark-Desaturated-Violet);
  border-radius: 50%;
  padding:.2rem
}
.speaker{
  height: 25%;
  width: 50%;
  margin: auto;
  border-radius: 0 0 1rem 1rem;
  background-color: var(--White);
  position: absolute;
  left: 25%;
}
h1{
  text-align: center;
  color: var(--Very-Dark-Desaturated-Violet)
}

.description{
  color: var(--Dark-Grayish-Violet);
  text-align: center;
  max-width: 435px;
  justify-self: center;
  margin-top: 1.5rem;
  font-family: var(--ff);
  font-weight: var(--fw-regular);
  font-size: .95rem;
  line-height: 2;
}
@media (min-width: 1000px) {
  .description{
    text-align: left;
  }
  h1{
    font-size: 2.5rem;
    text-align: left;
  }
}
.mobile{
  display: flex;
  justify-content: center;
  
}
.volume-button{
  height: 5rem;
  width: .5rem;
  border-radius: 0 .5rem .5rem 0;
  background-color: var(--White);
}
.power-button{
  margin-top: 2.35rem;
  height: 3rem;
  width: .45rem;
  border-radius: 0 .5rem .5rem 0;
  background-color: white;
}
.mobile-buttons{
  margin-top: 10rem;
}
.price-option{
  display: flex;
  font-size: .7rem;
  align-items: center;
  justify-content: space-between;
  width: auto;
  max-width: 9.875rem;
  padding: .5rem 1rem .5rem .4rem;
  background: linear-gradient(to right, var(--Light-Magenta), var(--Light-Violet));
  color: var(--Light-Grayish-Violet)
}
.price{
  font-weight: var(--fw-bold);
  font-size: 1rem;
  color: var(--White)
}
.radio{
  accent-color: var(--Very-Light-Magenta);
}
.top-curve{
  width: 510px;
  height: 88vh;
  background: linear-gradient(to bottom, var(--Light-Magenta), var(--Light-Violet));
  border-radius: 0 0 16rem 16rem;
  position: absolute;
  z-index: -999;
  top: 0;
  left: -5.5rem;
}
.bottom-curve{
  width: 510px;
  height: 88vh;
  background: linear-gradient(to bottom, var(--Light-Magenta), var(--Light-Violet));
  border-radius: 16rem 16rem 0 0;
  position: absolute;
  z-index: -999;
  bottom: 0;
  opacity: .035;
  right: -11rem;
}
@media (max-width: 1000px) {
  .top-curve{
    left: -20rem;
  }
  .bottom-curve{
    right: -20rem;
  }
}
